html,
body {
  padding: 0;
  margin: 0;
  font-family: 'ubuntu', Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  /*text-decoration: none;*/
}

* {
  box-sizing: border-box;
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}
