.slide {
  background-color: #000;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  transition: all 450ms;
  img {
    width: 100%;
  }
  &:hover {
    transform: scale(1.4);
    z-index: 10;
    box-shadow: 0px 5px 10px 9px rgba(0, 0, 0, 0.75);
    z-index: 11;
    .slideText {
      opacity: 1;
    }
  }
}
.slideText {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms;
  background-color: rgba(0,0,0,0.7);
}
.slideTextInner {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 8px;
  h3 {
    text-align: left;
    font-weight: normal;
    font-size: 11px;
    font-weight: bold;
  }
}
.info {
  display: flex;
  justify-content: space-between;
}
.duration, .startTime {
  font-size: 9px;
}

