.slick-list {
    overflow: visible!important;
}
.slick-slide:not(.slick-active) {
    visibility: hidden;
}



.slickArrow {
    width: 40px;
    height: 40px;
    z-index: 10;
    &:before {
        content: '';
    }
}
